[submodule "Clojure"]
	path = Clojure
	url = git@github.com:AgarwalConsulting/Clojure-Training.git
[submodule "Docker"]
	path = Docker
	url = git@github.com:AgarwalConsulting/DockerTraining.git
[submodule "Kubernetes"]
	path = Kubernetes
	url = git@github.com:AgarwalConsulting/Kubernetes-Training.git
