[submodule "Clojure"]
	path = Clojure
	url = git@github.com:AgarwalConsulting/Clojure-Training.git
[submodule "Docker"]
	path = Docker
	url = git@github.com:AgarwalConsulting/DockerTraining.git
[submodule "Kubernetes"]
	path = Kubernetes
	url = git@github.com:AgarwalConsulting/Kubernetes-Training.git
[submodule "Go"]
	path = Go
	url = git@github.com:AgarwalConsulting/Go-Training.git
[submodule "Ruby"]
	path = Ruby
	url = git@github.com:AgarwalConsulting/ruby_training.git
[submodule "Google-Dataflow"]
	path = Google-Dataflow
	url = git@github.com:AgarwalConsulting/Beam-DataFlow-Training.git
[submodule "Java"]
	path = Java
	url = git@github.com:AgarwalConsulting/java-training.git
